services:
  mqtt-broker:
    image: eclipse-mosquitto
    container_name: mqtt-broker
    ports:
      - "1883:1883"
    volumes:
      - ./mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf

  id-server:
    build:
      context: .
      dockerfile: ./sccp/Dockerfile
    container_name: id-server
    command: python -u sccp/id_server.py

  isccp:
    build:
      context: .
      dockerfile: ./sccp/Dockerfile
    container_name: isccp
    command: python -u sccp/isccp.py
    depends_on:
      - mqtt-broker
      - id-server

  sacp:
    build:
      context: .
      dockerfile: ./sccp/Dockerfile
    container_name: sacp
    command: python -u sccp/sacp.py
    depends_on:
      - mqtt-broker
      - isccp

  car:
    build:
      context: .
      dockerfile: ./sccp/Dockerfile
    command: python -u sccp/car.py
    depends_on:
      - mqtt-broker
      - id-server