version: "3.9"

services:
  mqtt-broker:
    image: eclipse-mosquitto
    container_name: mqtt-broker
    ports:
      - "1883:1883"
    volumes:
      - ./mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf

  isccp:
    build:
      context: .
      dockerfile: ./sccp/Dockerfile
    container_name: isccp
    command: python -u sccp/isccp.py
    depends_on:
      - mqtt-broker

  car:
    build:
      context: .
      dockerfile: ./sccp/Dockerfile
    command: python -u sccp/car.py
    depends_on:
      - mqtt-broker
